{% extends "base.html" %}
{% block title %}Doppeldanger{% endblock %}

{% block body %}


<style>
  @import url(https://fonts.google.com/specimen/Quando?selection.family=Quando);
  p, a {
    font-family: "Quando";
    color:black;
  }
</style>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row mb-3">

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/tmp/{{ your_image }}" width="100%" height="100%">
                        <div class="card-body">
                            <p class="card-text">You look great today :)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-8">
                    <div class="row">
                        {% for record in ids %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="/static/images/{{ record }}.jpg" width="100%" height="225">
                                <div class="card-body">
                                    <p class="card-text"><a href="/record/{{ record }}">{{ record }}</a></p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <!--<small class="text-muted">{{ record.tags }}</small>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                </div>


            </div>
        </div>
    </div>

{% endblock %}
