{% extends "base.html" %}
{% block title %}Doppeldanger{% endblock %}

{% block body %}


<style>
  @import url(https://fonts.google.com/specimen/Quando?selection.family=Quando);
  p, a {
    font-family: "Quando";
    color:black;
  }
</style>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row mb-3">

                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/tmp/{{ your_image }}" width="100%" height="100%">
                        <div class="card-body">
                            <p class="card-text">You look great today :)</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-8">
                    <div class="row">
                        {% for person in persons %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img src="/static/img_full/{{ person.gallica_identifier }}.png" height="300" style="object-fit:cover">
                                    <div class="card-body">
                                        <a href="/person/{{ person.name }}"><p class="card-text">{{ person.name }}</p></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                </div>


            </div>
        </div>
    </div>

{% endblock %}
