{% extends "base.html" %}
{% block title %}Humans of Paris{% endblock %}

{% block body %}

    <style>
        .page-item.active .page-link{
            background-color: #504947;
            border-color: #504947;
        }

        .page-item .page-link{
            color:#504947;
        }

        p, a {
          font-family: "Quando";
          color:black;
        }

.form-control{
  width:auto;
  font-family: "Quando";
  /* background-color: #504947; */
  border-color: #504947;
}

    </style>

<main role="main">

    <div class="album py-5 bg-light">

        <div class="container">


            <div class="row">

                {% for record in ids %}
                    {% if record.id %}
                <div class="col-md-4">
                  <a href="/record/{{ record.id }}">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/img_full/{{ record.id }}.png" height="300" style="object-fit:cover">
                        <div class="card-body">
                            <p class="card-text">{{ record.person.name }}</p>
                            <p class="text-muted">
                                {% if record.gender %}
                                {{ record.gender }}
                                {% endif %}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!--<small class="text-muted">{{ record.tags }}</small>-->
                            </div>
                        </div>

                    </div>
                    </a>
                </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div aria-label="Page navigation example text-center">
                <ul class="pagination justify-content-center">
                  <div id="#forms">
                      <form method="post" id="form_program" action="/"> {% csrf_token %}
                          <div class="form-group col-md-4" style="width:auto">
                              <select class="form-control"
                                      name="order"
                                      title="Order by..."
                                      onchange="this.form.submit()";
                                      id="order">
                                  <option selected disabled>Sort by </option>
                                  <option value="n_images_wiki">Number of Images</option>
                                  <option value="summary_size">Length of Wikipedia Article</option>
                              </select>
                          </div>
                      </form>
                  </div>

                    {% if ids.has_previous %}
                        <li class="step-links page-item">
                            <a class="page-link" href="?page=1">&laquo; first</a>
                        </li>
                        <li class="step-links page-item">
                            <a class="page-link"  href="?page={{ ids.previous_page_number }}">previous</a>
                        </li>
                    {% endif %}
                    <li class="current page-item active">
                        <a class="page-link" >Page {{ ids.number }} of {{ ids.paginator.num_pages }}</a>
                    </li>

                    {% if ids.has_next %}
                        <li class="step-links page-item">
                            <a class="page-link"  href="?page={{ ids.next_page_number }}">next</a>
                        </li>
                        <li class="step-links page-item">
                            <a class="page-link"  href="?page={{ ids.paginator.num_pages }}">last &raquo;</a>
                        </li>
                    {% endif %}
                </ul>

            </div>



        </div>



    </div>

</main>

{% endblock %}
