{% extends "base.html" %}
{% block title %}Humans of Paris{% endblock %}

{% block body %}

    <style>
        .page-item.active .page-link{
            background-color: #504947;
            border-color: #504947;
        }

        .page-item .page-link{
            color:#504947;
        }

    </style>

<main role="main">

    <div class="album py-5 bg-light">

        <div id="#forms">
            <form method="post" id="form_program" action="/"> {% csrf_token %}


                <div class="form-group col-md-12">
                    <select class="form-control"
                            name="order"
                            title="Order by..."
                            onchange="this.form.submit()";
                            id="order">
                        <option selected disabled>Order by...</option>
                        <option value="n_images_wiki">n images in wiki</option>
                        <option value="summary_size">summary size</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="container">


            <div class="row">

                {% for record in ids %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/img_full/{{ record.id }}.png" width="100%" height="300">
                        <div class="card-body">
                            <p class="card-text"><a href="/record/{{ record.id }}">{{ record.person.name }}</a></p>
                            <p class="text-muted">
                                {% if record.gender %}
                                #{{ record.gender }};
                                {% endif %}
                                {% if record.tags_set.first.tag %}
                                #{{ record.tags_set.first.tag }}
                                {% endif %}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!--<small class="text-muted">{{ record.tags }}</small>-->
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div aria-label="Page navigation example text-center">
                <ul class="pagination justify-content-center">
                    {% if ids.has_previous %}
                        <li class="step-links page-item">
                            <a class="page-link" href="?page=1">&laquo; first</a>
                        </li>
                        <li class="step-links page-item">
                            <a class="page-link"  href="?page={{ ids.previous_page_number }}">previous</a>
                        </li>
                    {% endif %}
                    <li class="current page-item active">
                        <a class="page-link" >Page {{ ids.number }} of {{ ids.paginator.num_pages }}</a>
                    </li>

                    {% if ids.has_next %}
                        <li class="step-links page-item">
                            <a class="page-link"  href="?page={{ ids.next_page_number }}">next</a>
                        </li>
                        <li class="step-links page-item">
                            <a class="page-link"  href="?page={{ ids.paginator.num_pages }}">last &raquo;</a>
                        </li>
                    {% endif %}
                    </span>
                </ul>
                </nav>
            </div>

        </div>
    </div>

</main>

{% endblock %}

