{% extends "base.html" %}
{% block title %}{{ person.name }}{% endblock %}

{% block body %}

    <style>
        h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display", Georgia, "Times New Roman", serif;
            padding-top: 1rem;
        }

        p{
          font-family: "Quando";
          color:black;
        }

        a {
          font-family: "Quando";
        }

    </style>

    <div class="text-center" style='padding-'>
    <h2>{{ person.name }}</h2>
    <hr>

    <div class="row mb-3">
        <div class="col-md-4">
            <img src="/static/images/{{ person.gallica_identifier }}.jpg" height="225">
        </div>
          <div class="col-md-4">
            {% if person.wiki_set.first.wiki_text %}
              <p>{{ person.wiki_set.first.wiki_text }}</p>
            {% else %}
              <p>We could not find a Wikipedia page associated to this person</p>
              <p>If you think there is one, please let us know:  <a style='text-decoration:underline' href="https://github.com/liabifano/humans-of-paris-1900/issues/new?assignees=&labels=&template=bug_report.md&title=" target="_blank">here</a></p>
            {% endif %}
          </div>

        <div class="col-md-4">
          <p>Gender: {{ person.gender }} ({{ person.gender_estimate|floatformat }})</p>
          <p>Estimated Age in Photo: {{ person.age_estimate|floatformat }}</p>
            <h4>Tags</h4>
            {% for tag in person_tags %}
                <a href="/tag/{{ tag.tag }}"><span class="badge badge-secondary">{{ tag.tag }}</span></a>
            {% endfor %}

            <h4>Outside Resources</h4>
            <p><a href="{{ person.bnf_link }}" target="_blank">bnf link</a></p>
            {% ifnotequal person.wiki_set.first.wiki_en_link "nan" %}
                <p><a href="{{ person.wiki_set.first.wiki_en_link }}" target="_blank">english wikipedia</a></p>
            {% endifnotequal %}
            {% ifnotequal person.wiki_set.first.wiki_fr_link "nan" %}
                <p><a href="{{ person.wiki_set.first.wiki_fr_link }}" target="_blank">french wikipedia</a></p>
            {% endifnotequal %}
        </div>
      </div>

    <hr style='color:#504947;'>
      <div class="row mb-3" style='padding-left:6rem; padding-right:6rem'>
        {% for gallica in gallicas %}
            {% if gallica.gallica_id %}
            <div class="col-md-2">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img_full/{{ gallica.gallica_id }}.png" height="150" style="object-fit:cover;object-position:top">
                    <div class="card-body">
                        <a href="{{ gallica.gallica_url }}" target="_blank"><p class="card-text">{{ person.name }}</p></a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
    </div>
{% endblock %}
