{% extends "base.html" %}
{% block title %}{{ person.name }}{% endblock %}

{% block body %}

    <style>
        h1, h2, h3, h4, h5, h6 {
            font-family: "Playfair Display", Georgia, "Times New Roman", serif;
            padding-top: 1rem;
        }
    </style>
    <div class="text-center" style='padding-'>
        <h2>{{ person.name }}</h2>
        <hr>

        <div class="row">
            <div class="row mb-4">
                <div class="col-md-4">
                    <img src="/static/images/{{ person.gallica_identifier }}.jpg" height="225">
                </div>

                <div class="col-md-4">
                    {% ifequal person.wiki_set.first.wiki_text "" %}
                        <span style="padding-left:600px">Not Found</span>
                        {% else %}
                        <p>{{ person.wiki_set.first.wiki_text }}</p>
                    {% endifequal %}
                </div>
                <div class="col-md-4">
                    <h4>Tags</h4>
                    {% for tag in person_tags %}
                        <span class="badge badge-secondary">{{ tag.tag }}</span>
                    {% endfor %}

                    <h4>other info</h4>
                    <p><a href="{{ person.bnf_link }}" target="_blank">bnf link</a></p>
                    {% ifnotequal person.wiki_set.first.wiki_en_link "nan" %}
                        <p><a href="{{ person.wiki_set.first.wiki_en_link }}" target="_blank">wikipedia</a></p>
                    {% endifnotequal %}
                    {% ifnotequal person.wiki_set.first.wiki_fr_link "nan" %}
                        <p><a href="{{ person.wiki_set.first.wiki_fr_link }}" target="_blank">wikipedia</a></p>
                    {% endifnotequal %}
                    <p>Gender: {{ person.gender }} (Score: {{ person.gender_estimate|floatformat }})</p>
                    <p>Score Age Estimated: {{ person.age_estimate|floatformat }}</p>
                </div>

            </div>
        </div>
    </div>

    <h2>&nbsp; Other Gallica Records</h2>
    <div class="row mb-4">

    {% for gallica in gallicas %}
        {% if gallica.gallica_id %}
            <div class="col-md-2">
                <div class="card mb-4 shadow-sm">
                    <img src="/static/img_full/{{ gallica.gallica_id }}.png" height="150" style="object-fit:cover">
                    <div class="card-body">
                        <a href="{{ gallica.gallica_url }}" target="_blank"><p class="card-text">{{ person.name }}</p></a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>




{% endblock %}
