<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HoP temp</title>
    <meta charset="utf-8">
    
    
  </head>
 
    	<div class="container">
    			<div class="col-md-6 col-lg-6 ">
            <div class="card mb-4 shadow-sm">
              <img src="image" width="100%" height="100%">
                <div class="middle">
                <div class="text">John Doe</div>                
            </div>
    			</div>
    			<div class="col-md-6 col-lg-6 pl-md-5 py-5">
		          	<h1 class="big">John Doe</h1>
		            <p class="mb-4">Short data.bnf text</p>
		            <p>ENG WIKI Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Diam maecenas sed enim ut. Non pulvinar neque laoreet suspendisse interdum. Id porta nibh venenatis cras sed felis eget velit. Ac orci phasellus egestas tellus rutrum tellus. Amet cursus sit amet dictum sit amet justo donec enim. Blandit massa enim nec dui nunc. </p>
                <p>FR WIKI Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sit amet consectetur adipiscing elit pellentesque habitant morbi. Diam maecenas sed enim ut. Non pulvinar neque laoreet suspendisse interdum. Id porta nibh venenatis cras sed felis eget velit. Ac orci phasellus egestas tellus rutrum tellus. Amet cursus sit amet dictum sit amet justo donec enim. Blandit massa enim nec dui nunc..</p>
                <p> <a href="link_to_tag" target="_blank">Tag</a> </p>
		      </div>
        </div>
    
  </body>
</html>