{% extends "base.html" %}
{% block title %}Humans of Paris{% endblock %}

{% block body %}

    <style>
        .page-item.active .page-link{
            background-color: #504947;
            border-color: #504947;
        }

        .page-item .page-link{
            color:#504947;
        }

        p, a {
            font-family: "Quando";
            color:black;
        }

        .card {
            overflow: hidden;
        }

        .form-control{
            width:auto;
            font-family: "Quando";
            /* background-color: #504947; */
            border-color: #504947;
        }
        .bad {
            padding-top:2rem;
        }

    </style>

    <main role="main">
        <div class="bad">
            <div class="container">
                <div class="row">
                    {% for person in persons %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img src="/static/img_full/{{ person.gallica_identifier }}.png" height="300" style="object-fit:cover;object-position:top">
                                <div class="card-body">
                                    <a href="/person/{{ person.name }}"><p class="card-text">{{ person.name }}</p></a>
                                    <p class="text-muted cut-text">
                                        {% if person.wiki_set.first.wiki_text %}
                                            {{ person.wiki_set.first.wiki_text }}
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div aria-label="Page navigation example text-center">
                    <ul class="pagination justify-content-center">
                        <div id="#forms">
                            <form method="post" id="form_program" action="/"> {% csrf_token %}
                                <div class="form-group col-md-4" style="width:auto">
                                    <select class="form-control"
                                            name="order"
                                            title="Order by..."
                                            onchange="this.form.submit()";
                                            id="order">
                                        <option selected disabled>Sort by </option>
                                        <option value="n_images_wiki">Number of Images</option>
                                        <option value="summary_size">Length of Wikipedia Article</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        {% if persons.has_previous %}
                            <li class="step-links page-item">
                                <a class="page-link" href="?page=1">&laquo; first</a>
                            </li>
                            <li class="step-links page-item">
                                <a class="page-link"  href="?page={{ persons.previous_page_number }}">previous</a>
                            </li>
                        {% endif %}
                        <li class="current page-item active">
                            <a class="page-link" >Page {{ persons.number }} of {{ persons.paginator.num_pages }}</a>
                        </li>

                        {% if persons.has_next %}
                            <li class="step-links page-item">
                                <a class="page-link"  href="?page={{ persons.next_page_number }}">next</a>
                            </li>
                            <li class="step-links page-item">
                                <a class="page-link"  href="?page={{ persons.paginator.num_pages }}">last &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
